<table class="table table-striped">
	<thead>
		<tr class="info">
			<th style="width: 5%"></th>
			<th style="width: 30%">Name</th>
			<th style="width: 60%">Address</th>
			<th style="width: 5%"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let v of listings">
			<td class="text-left" (click)="removeListing(v)">&#x274c;</td>
			<td>{{v.name}}</td>
			<td>{{v.address}}</td>
			<td class="text-right"><button class="btn btn-primary btn-xs" (click)="showListingInMap(v)">Show</button></td>
		</tr>
	</tbody>
</table>
